{% extends "base.html" %}

{% block title %}
AI Interview Simulator
{% endblock %}

{% block content %}

<section class="hero">

    <span class="hero-badge">
        🚀 AI Powered Interview Preparation
    </span>

    <h1>
        Master Your Interviews with AI
    </h1>

    <p>
        Upload your resume, practice technical and HR interviews,
        receive AI-powered feedback, identify your weak areas,
        and boost your confidence before the real interview.
    </p>

    <div class="hero-buttons">

        <a href="/register" class="btn">
            Get Started
        </a>

        <a href="/login" class="btn-outline">
            Login
        </a>

    </div>

</section>

{% endblock %}